  <div class="columns">
      <% articles.each_with_index do |article, index|  %>

  <% if index>0 && index%2==0 %>
  <!-- internal close columns -->
  </div>
  <!-- new columns -->
  <div class="columns">
  <% end %>

          <div class="column">
            <div class="box">
              <p class="title"><%= article.title %> </p>
              <p class="subtitle"><%= article.description %> </p>
              <% if logged_in? && (article.user == current_user || current_user.admin?) %>
                <%= link_to 'Edit', edit_article_path(article), class: "button" %> 
                <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: "button"  %> 
              <% end %>
            </div>
          </div>
      <% end %>
<!-- final close columns -->
 </div>
