<section class="hero is-success">
  <div class="hero-body">
  <div class="container has-text-centered">
    <p class="title">
      Articles
    </p>
    <p class="subtitle">
      Edit Article
    </p>
  </div>
  </div>
</section>

<br/>

<div class>

<%= render 'form' %>
