<section class="hero is-info">
  <div class="hero-body">
  <div class="container has-text-centered">
    <p class="title">
      Profile
    </p>
    <p class="subtitle">
      Edit your profile
    </p>
  </div>
  </div>
</section>

<br>
<br>

<%= render 'form', user: @user %>


